<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <title>Online Books For You</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <h1>Mystery books you may like</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul>
                {% for book in recommendations %}
                    <li><a href="{{ url_for('book_detail', book_id=book.id) }}">{{ book.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>